<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>

    <ion-title>Crear una nueva cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm">
    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input formControlName="username" type="text" placeholder="Your username"
                 [class.invalid]="!signupForm.controls['username'].valid && signupForm.controls['username'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls['username'].valid
      && signupForm.controls['username'].touched">
      <ion-label>Please enter a username.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
                 [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls['password'].valid  &&
      signupForm.controls['password'].touched">
      <ion-label>Your password needs more than 6 characters.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Gym name</ion-label>
      <ion-input formControlName="gymName" type="text" placeholder="Gym name"
                 [class.invalid]="!signupForm.controls['gymName'].valid && signupForm.controls['gymName'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls['gymName'].valid
      && signupForm.controls['gymName'].touched">
      <ion-label>Please enter gym name.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
                 [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls['email'].valid
      && signupForm.controls['email'].touched">
      <ion-label>Please enter a valid email.</ion-label>
    </ion-item>

    <ion-button expand="block" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
      Create an Account
    </ion-button>
  </form>
</ion-content>
