<ion-header>
  <ion-toolbar>
    <ion-title>
      Nueva Actividad
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [(ngModel)]="activity.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" [(ngModel)]="activity.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="text" [(ngModel)]="activity.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Frequency</ion-label>
      <ion-input type="text" [(ngModel)]="activity.frequency"></ion-input>
    </ion-item>
  </ion-list>
 <div class="ion-text-center">
   <ion-button (click)="save()" class="text-align: center">Save</ion-button>
 </div>

</ion-content>
